<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
    <div class="content-wrapper">
        <div class="title-container">
            <h2>Register</h2>
        </div>
        <div class="form-container">
            <form method="post" action="{% url 'register' %}" class="validationForm" style="display: inline-block;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>